{% extends 'base.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('location') %}
        <div class="flash-notice">
        {{ flashMessage }}
            </div>
    {% endfor %}
{% endblock %}